<nav>
  <app-navbar *ngFor= "let page of pages" [page]="page.page" [name]="page.name"></app-navbar>
</nav>

<div class="container">
  <br><br><br><br>
  <h1>ABOUT MNANDI HOTELS®</h1><br>
  <p>
          Mnandi Hotels is one of the most widely recognized hospitality brands in Africa with the most extensive footprint.<br> 
          With nearly 100 hotels across 8 countries including South Africa, Zambia, Nigeria, Namibia, Ghana, Tanzania and Uganda.<br>
          Mnandi Hotels has the largest strategic footprint throughout the Continent and<br> 
          is highly committed to delivering every guest with a personalized service experience.<br>  
          The Mnandi Hotels portfolio includes the lifestyle brand Mnandi Hotel Fire! with three hotels in South Africa, located in Cape Town, Johannesburg and Menlyn.<br>

          From luxurious resorts to urban retreats, bold boutiques to spacious suites, there’s a Marriott hotel brand as unique as you.<br><br><br><br>
  
          <strong>AWARDS AND ACCOLADES</strong><br><br><br>
          Winner of 2 World Travel Awards for Best Hotel Group in Africa<br>
          Winner of 3 Sunday Times Markinor Top Hotel Brand Awards<br>
          Winner of 8 Sunday Times Generation Next Awards for the Coolest Hotel Brand.<br><br><br>
  
          <strong>THE THREE PROTEA PRINCIPLES</strong><br>
          1. Respect for human dignity<br>
          2. The best guest service<br>
          3. In search of excellence<br><br><br>

          GREEN POLICY Protea Hotels is dedicated to ensuring the longevity of our business for generations to come through responsibly managing our impact on the environment,<br> our employees and the communities in which we operate.
</p> 
</div>
