<nav>
  <app-navbar *ngFor= "let page of pages" [page]="page.page" [name]="page.name"></app-navbar>
</nav>

<div class="container">
  <h1>Contact Information</h1><br><br><br>
  
  <h3>How may we assist you?</h3><br>
  
          Central Reservations: 0861 11 9000<br>
          Head Office Tel: +27 (0) 21 430 5000<br>
          Head Office Fax: +27 (0) 21 430 5320<br><br>
  
  
  
         
  
          <h3>Email Us</h3><br>
          Reservations: info@mnandihotels.com<br><br>
          Prokard: explorer@mnandihotels.com<br>
  
  
  
  </div>